.navbar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo img {
  width: 80px;
}

.navbar-content ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: bold;
}
.navbar-content ul li a {
  padding: 10px 20px;
}

.navbar-content ul li a:hover {
  background-color: gray;
  color: white;
}

.navbar-content ul li a {
  text-decoration: none;
  color: black;
}

.navbar-content{
  display: flex;
  gap: 10px;
  align-items: center;
  
}

.cart-icon img{
  width: 45px;
  cursor: pointer;
}

.navbar p{
  background-color: red;
  color: white;
  border-radius: 50px;
  position: relative;
  width: 25px;
  height: 25px;
  top: -20px;
  left: -30px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;

}