body {
    width: 100%;
    height: 150vh;
}
.billing-container {
    margin: auto;
    margin-top: 40px;
    background-color: #D1CBD7;
    width: 80%;
}



.form-button button {
    padding: 10px;
    color: white;
    background-color: #134c6d;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 180px;
    height: 50px;
    margin: 20px 0;
  
}
.form-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.form-button button:hover {
    background-color: #2980b9;
}

.billing-form {
    height: 110vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: auto;
}

.billing-form input{
    height: 30px;
    padding: 20px;
    font-size: 1.2rem;

}

.billing-form label{
    font-size: 1.4rem;
    font-weight: bold;

}