.hero-banner {
    display: flex;
    gap: 30px;
    align-items: center;
    
}

.left-content img {
    width: 300px;
}

.right-content{
    color:#134C6D ;
}

.right-content h1{
    font-size: 2.5rem;
}

.right-content h3{
    font-size: 1.5rem;
}