.page-content {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  .page-content img{
    height: inherit;
    object-fit: cover;
  }