.shop {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.shop hr {
  width: 80%;
  height: 3px;
  margin: auto;
  margin-bottom: 15px;
  color: #134c6d;
}
.shop h1 {
  color: white;
  font-size: 3rem;
  padding: 10px;
}
.collections {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  position: absolute;
  top: 740px;
}

.store-image:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.6s;
}

.store-image img {
  width: 200px;
  height: 300px;
}

.cart-button {
  margin-top: 50px;
}

.cart-button button {
  width: 200px;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #134c6d;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.shoecolmap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addcart button {
  margin-top: -20px;
}

.big-words h1 {
  position: relative;
  display: grid;
  place-items: center;
  font-size: 500px;
  color: rgb(0, 140, 255);
  opacity: 0.5;
  z-index: -10;
  top: -140px;
  height: 100vh;
  margin-bottom: -140px;
}
