.login-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 100vh;
}

@media (width <= 600px) {
  .login-banner{
    flex-direction: column;
  }
}