.home {
  width: 100%;
  height: 100vh;
  place-items: center;
  position: relative;
}


.home-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
  
}
.home-list li{
  font-size: 1.8rem;
  background-color: transparent;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  padding-top: 5px;
  width: 140px;
  height: 60px;
  text-align: center;
  font-weight: bold;
  border-radius: 50px;
}
.text-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.components img{
  position: absolute;
}

.home-list li:hover{
  background-color: #8A4C9F;
  border: none;
}