.hero-banner {
    display: flex;
    gap: 30px;
    align-items: center;
    
}

.left-content img {
    width: 300px;
}

.right-content h1{
    color: white;
    font-size: 2.6rem;
}

.right-content h3{
    color:#5d8eab ;
    font-size: 1.5rem;
}