.banner-container {
    background-color: #1A1C1E;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px; 
}


.leftcontent img {
    width: 550px;
    border-radius: 30px;
}

.rightcontent h1 {
    color: white;
    font-size: 60px;
}
.rightcontent h3{
    color: rgb(0, 140, 255);
    font-size: 60px;
}

@media (width <= 600px) {
    .banner-container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .rightcontent{
        width: 100%;
        padding: 10px;
        text-align: center;
        
    }
    .rightcontent h1{
        font-size: 5.5rem;
    }
    .rightcontent h3{
        font-size: 4rem;
    }

   
}